# Getting Started

## Listing 1-1 Unzipping dataset.zip

In [36]:
import zipfile
zip_ref = zipfile.ZipFile("C:/Users/eolivas/Box/H Drive Data/MISC/2020.08.24/Business Intelligence/Datasets/datasets.zip",'r')
zip_ref.extractall("C:/Users/eolivas/Box/H Drive Data/MISC/2020.08.24/Business Intelligence/Data Analysis with Python Excercises\datasets")
zip_ref.close()

#  Getting Data Into and Out of Python

## Listing 2-1 Loading data from CSV file

In [37]:
#normally, data will come to us as files or databse links. See listing 2-1 to learn how to load data from a CSV file

import pandas as pd
Location = "datasets/smallgradesh.csv"
df = pd.read_csv(Location, header=None)

##  Listing 2-2 Display First Five Lines of Data

In [31]:
df.head()

         0      1
0     Name  Grade
1   Marcia   82.4
2   Kadeem   78.2
3     Nash   79.3
4  Noelani   83.2

as you can see our datafram lacks column headers. Or, rather, there are headers, but they weren't loeaded; they were loaded as row 1 of your data. To load data that includes headers, you can use the code shown in Listing 2-3

## Listing 2-3 Loading data from CSV File with headers

In [32]:
import pandas as pd
Location = "datasets/gradedata.csv"
df = pd. read_csv(Location)

Then, as before, we take a look at what the data looks like by running the code shown Listing 2-4

## Listing 2-4 Display 1st five rows of data

In [34]:
df.head()

,fname,lname,gender,age,exercise,hours,grade,address
0,Marcia,Pugh,female,17,3,10,82.4,"9253 Richardson Road, Matawan, NJ 07747"
1,Kadeem,Morrison,male,18,4,4,78.2,"33 Spring Dr., Taunton, MA 02780"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
3,Noelani,Wagner,female,14,2,7,83.2,"8839 Marshall St., Miami, FL 33125"
4,Noelani,Cherry,female,18,4,15,87.4,"8304 Charles Rd., Lewis Center, OH 43035"

If you have a dataset that doesn't include headers, you can add them
afterward. To add them, we can use one of the options shown in Listing 2-5.

## Listing 2-5 Loading Data from CSV File and Adding Headers

In [38]:
import pandas as pd
Location = "datasets/smallgrades.csv"
#To add headers as we load the data ...
df = pd.read_csv(Location, names=["Names", "Grades"])
#To add headers to a dataframe
df.columns = ["Names", "Grades"]

## Your Turn

### Saving Data to CSV
Maybe you want to save your progress when analyzing data. Maybe you are
just using Python to massage some data for later analysis in another tool.
Or maybe you have some other reason to export your dataframe to a CSV
file. The code shown in Listing 2-6 is an example of how to do this.

## Listing 2-6 Exporting a Dataset to CSV

In [40]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
GradeList = zip(names,grades)
df = pd.DataFrame(data = GradeList, columns=['Names','Grades'])
df.to_csv('studentgrades.csv',index=False,header=False)

## Listing 2-7 Getting help on to_csv

If you want in-depth information about the to_csv method, you can, of
course, use the code shown in Listing 2-7.

df.to_csv?

## Listing 2-8 Creating a Dataset for the Exercise

In [47]:
import pandas as pd
names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bsdegrees = [1,1,0,0,1]
msdegrees = [2,1,0,0,0]
phddegrees = [0,1,0,0,0]
Degrees = zip(names,grades,bsdegrees,msdegrees,phddegrees)
column = ['Names','Grades','BS','MS','PhD']
df = pd.DataFrame(data = Degrees, columns=column)
df

df.to_csv("studentDegrees.csv",index=False,header=False)