# Your Turn Page 7

### Creating a dataframe from the California dataset I downloaded as a CSV File

In [54]:
import pandas as pd
Location = "C:/Users/eolivas/Downloads/all_040_in_06.P1.csv"
df = pd.read_csv(Location)
df

,GEOID,SUMLEV,STATE,COUNTY,CBSA,CSA,NECTA,CNECTA,NAME,POP100,HU100,POP100.2000,HU100.2000,P001001,P001001.2000
0,6,40,6,NaN,NaN,NaN,NaN,NaN,California,37253956,13680081,33871648,12214549,37253956,33871648